<div class="center jumbotron">
  <h1><%= t "title.default" %></h1>
  <%= link_to t("button.sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= render "products/trend" %>
<div>
  <%= render @products %>
  <div class="center"><%= will_paginate @products %></div>
</div>
