<div class="col-xs-6 col-sm-6 col-md-4 text-center">
  <div class="product-view">
    <div class="image-product hover">
      <figure>
        <a href="#">
<!--      <img alt="Product image" src="<%= product.image %>" /></a> -->
          <%= link_to image_tag("macbook.jpg", alt: "App logo",
            class: "img-rounded"), product %>
      </figure>
    </div>
    <div class="product-info">
      <h5><%= link_to product.name, product %></h5>
      <div class="product-price">
        <span><b><%= t("product.price") %>: <%= product.price %></b></span>
      </div>
      <div class="product-detail">
        <span><%= product.description %></span>
      </div>
      <div class="cart-logo">
        <%= link_to cart_path(product), remote: true,
          method: "PUT", class: "btn btn-success" do %>
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <%= t "button.cart" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
