<% provide(:title, "All product") %>
<div class="center">
<%= render "products/trend" %>
   <div>
   <%= form_tag products_path, :method => "get" do %>
      <p>
      <%= text_field_tag :search %>
      <%= submit_tag "search" %>
      </p>
   <% end %>
   </div>
</div>
<div>
<%= render "shared/products" %>
</div>

